<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
      <a class="navbar-brand fs-4 fw-bold text-light" style="font-family: Georgia, 'Times New Roman', Times, serif;" href="{{ .Site.Home.RelPermalink }}">
        <img src="https://assets.mdekort.nl/logo.svg" alt="logo" width="50px" class="d-inline-block align-middle me-2" />
        {{ .Site.Title }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
{{- range .Site.RegularPages.ByParam "order" }}
{{- if eq .Page $.Page }}
            <a class="nav-link active" aria-current="page" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
{{- else }}
            <a class="nav-link" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
{{- end }}
{{- end }}
        </div>
      </div>
  </div>
</nav>
